//定义全局变量
$primary-color: #409eff;
$primary-color-1: #ecf5ff;
$primary-color-2: #d9ecff;
$primary-color-3: #c6e2ff;
$primary-color-4: #a0cfff;
$primary-color-5: #79bbff;
$neutral-color: #000000;
$neutral-color-2: #1d3462;
$neutral-color-5: #ffffff;
$border-color: #d4d7de;

$menu-width: 200px;
$nav-height: 50px;
